<!--
<?php
$www_url=str_replace("http://","",$webdb[www_url]);
print <<<EOT
-->
<div class="pagetop"><a href="#header"><img src="$webdb[www_url]/images/img/common_top.jpg" alt="PAGETOP" width="77" height="27" /></a></div>
<div id="footer">
<ul id="footer_inner" class="clearfix">
<li class="logo">
<p><img src="$webdb[www_url]/images/img/footer_logo.jpg" alt="" width="224" height="54" /></p>
<p><img src="$webdb[www_url]/images/img/footer_contact.jpg" width="308" height="74" /></p>
</li>
<li class="footnavi">
<dl>
<dt>對於迅速英文</dt>
<dd><a href="$webdb[www_url]/about.htm">英國和穩定呢？</a></dd>
<dd><a href="$webdb[www_url]/list.php?fid=1">英会話講師一覧</a></dd>
<dd><a href="$webdb[www_url]/fee.htm">費用</a></dd>
<dd><a href="$webdb[www_url]/faq.htm">常見問題</a></dd>
<dd><a href="$webdb[www_url]/contact.htm">聯繫我們</a></dd>
</dl>
</li>
<li class="footnavi">
<dl>
<dt>學費</dt>
<dd><a href="$webdb[www_url]/do/reg.php">我註冊了一個免費試用</a></dd>
<dd><a href="$webdb[www_url]/flow.htm">流量類</a></dd>
<dd><a href="$webdb[www_url]/skype.htm">關於Skype</a></dd>
</dl>
</li>
<li class="footnavi">
<dl>
<dt>站點摘要</dt>
<dd><a href="$webdb[www_url]/corporate.htm">站點概要</a></dd>
<dd><a href="$webdb[www_url]/privacy.htm">隱私政策</a></dd>
<dd><a href="$webdb[www_url]/terms.htm">條款和條件</a></dd>
<dd><a href="$webdb[www_url]/asct.htm">顯示基於特定貿易法</a></dd>
<dd><a href="$webdb[www_url]/links.htm">LINKS</a></dd>
<dd><a href="$webdb[www_url]/recruit.htm">招聘</a></dd>
</dl>
</li>
</ul>
<p class="algnC">$webdb[copyright]</p>
</div>


<div id="sidebutton">
<div id="btn1"><a href="$webdb[www_url]/do/reg.php"></a></div>
<div id="btn2"><a href="$webdb[www_url]/contact.htm"></a></div>
</div>

<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT><SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/hack/count.php?fid=1"></SCRIPT>

<!--CNZZ站點统计
EOT;
if($webdb[cnzz_open]&&$webdb[cnzz_id]){print <<<EOT
-->
<div style="display:none"><script src='http://pw.cnzz.com/c.php?id=$webdb[cnzz_id]' language='JavaScript' charset='gb2312'></script></div>
<!--CNZZ站點统计
EOT;
}print <<<EOT
-->

</div>
<script type="text/javascript" src="http://www.gge.co.jp/assets/default/js/jquery.qtip.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://www.gge.co.jp/assets/default/js/jquery.scrollTo.js" charset="utf-8"></script>
<script type="text/javascript" src="http://www.gge.co.jp/assets/default/js/common.js?v=872" charset="utf-8"></script>



</body>
</html>
<!--
EOT;
?>
-->