<!--
<?php
$www_url=str_replace("http://","",$webdb[www_url]);
print <<<EOT
-->
<div class="pagetop"><a href="#header"><img src="$webdb[www_url]/images/img/common_top.jpg" alt="PAGETOP" width="77" height="27" /></a></div>
<div class="bottom" style="background:#003356;color:white;">
  <div class="foot">電子信箱：apple657799@gmail.com&nbsp;&nbsp;服務電話：0936-543-997&nbsp;&nbsp;Copyright © 2011 Happy English. All rights reserved.</div>
</div>


<div id="sidebutton">
<div id="btn1"><a href="$webdb[www_url]/do/reg.php"></a></div>
<div id="btn2"><a href="$webdb[www_url]/contact.htm"></a></div>
</div>

<SCRIPT LANGUAGE="JavaScript">
<!--//Ä¿µÄÊÇÎªÁË×ö·ç¸ñ·½±ã
document.write('</div>');
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT><SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/hack/count.php?fid=1"></SCRIPT>

<!--CNZZÕ¾ücÍ³¼Æ
EOT;
if($webdb[cnzz_open]&&$webdb[cnzz_id]){print <<<EOT
-->
<div style="display:none"><script src='http://pw.cnzz.com/c.php?id=$webdb[cnzz_id]' language='JavaScript' charset='gb2312'></script></div>
<!--CNZZÕ¾ücÍ³¼Æ
EOT;
}print <<<EOT
-->

</div>
<script type="text/javascript" src="http://www.gge.co.jp/assets/default/js/jquery.qtip.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://www.gge.co.jp/assets/default/js/jquery.scrollTo.js" charset="utf-8"></script>
<script type="text/javascript" src="http://www.gge.co.jp/assets/default/js/common.js?v=872" charset="utf-8"></script>



</body>
</html>
<!--
EOT;
?>
-->