<!--
<?php
print <<<EOT
-->
<div style="height:300px">
		<div id="pageNotify" style="margin: 0px; padding: 0px; position: fixed; left: 0px; top: 360px; width: 100%; background-color: rgb(255, 255, 255); font-size: 26px; text-align: center; box-shadow: rgb(68, 68, 68) 0px 2px 5px; opacity: 0.9; display: block;">
			<div class="error" style="margin: 0px; padding: 8px 16px; border-top-width: 3px; border-top-style: solid; border-color: rgb(229, 104, 63); border-bottom-width: 3px; border-bottom-style: solid; text-shadow: rgb(136, 136, 136) 1px 1px 1px; color: rgb(229, 104, 63); background-color: rgb(255, 219, 178);">
				<ul style="margin: 0px; padding: 6px 0px; list-style: none; line-height: 1.4;">
					<li style="margin: 0px; padding: 0px;">$showerrMsg</li>
				</ul>
			</div>
		

<SCRIPT LANGUAGE="JavaScript">
<!--
if(document.referrer==''&&window.self==window.top){
	document.write('<input type="button" name="Submit" value="üc“ôêPé]±¾¾Wí“" class="post_bt" onclick="window.self.close();"> <input type="button" name="Submit" value="·µÞ’¾WÕ¾Ê×í“" class="post_bt" onclick="top.location.href=\'$webdb[www_url]/\';"> ');
}else{
var num=0;
document.write('<input type="button" name="Submit" value="üc“ô·µÞ’" class="post_bt" onclick="history.back(-1);if(num>0)top.location.href=\'$FROMURL\';num++;">');
}
//-->
</SCRIPT>
		  
		  
		</div>

<SCRIPT LANGUAGE="JavaScript">
<!--
function set_Table(){
	h=document.getElementById("LeftTable").offsetHeight;
	if(window.ActiveXObject==null)h=h-20;
	document.getElementById("RightTable").style.height=h+'px';
}
set_Table()
//-->
</SCRIPT>

</div>
<!--
EOT;
?>
-->