<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <tr bgcolor='#FFFFFF'> 
    <td bgcolor="#FFFFFF"> [<a href="index.php?lfj=cnzz&job=set">统计帐號琯理</a>]
	
      <!--
EOT;
if(!$webdb[cnzz_id]||!$webdb[cnzz_pwd]){print <<<EOT
-->
     [<a href="index.php?lfj=cnzz&job=ask">申請站點统计ID帐號</a>] 
      <!--
EOT;
}print <<<EOT
-->
	


      <!--
EOT;
if($webdb[cnzz_id]&&$webdb[cnzz_pwd]){print <<<EOT
-->
      [<a href="http://intf.cnzz.com/user/companion/php168_login.php?site_id=$webdb[cnzz_id]&password=$webdb[cnzz_pwd]" target="_blank">登錄站點统计後台</a>] 
      <!--
EOT;
}print <<<EOT
-->
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->